{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <title>AyurVichar | {% block title %}{% endblock title %}</title>

    {% block head %}
    {% endblock head %}

</head>

<body>

    <header>
        <section id="navbar">
            <nav>
                <div class="logo font-large">
                    <img src="{% static 'img/logo.png' %}" alt="">
                    <span>AYURVICHAR</span>
                </div>
                <div class="nav-links">
                    <a href="/"><span class="font-small">Home</span></a>
                    <a href="/about"><span class="font-small">About</span></a>
                    <a href="/contact"><span class="font-small">Contact</span></a>
                    <a href="/login"><span class="font-small btn">Log in</span></a>
                    <a href="/register"><span class="font-small btn-border">Regsiter</span></a>
                
                </div>
            </nav>
        </section>
    </header>


    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        <span class="footer-heading font-large">AYURVICHAR</span>
        <div class="footer-items">
            <div>
                <p>Contact us</p>
                <span>+91 xxxxxxxxxx</span>
                <span>+91 xxxxxxxxxx</span>
            </div>
            <div>
                <p>Information</p>
                <a href="">About us</a>
                <a href="">More Search</a>
                <a href="">Services</a>
                <a href="">Blogs</a>
                <a href="">Testimonials</a>
                <a href="">Events</a>
            </div>
            <div>
                <p>Helpful Links</p>
                <a href="">Services</a>
                <a href="">Term and Conditions </a>
                <a href="">Privacy Policy</a>
            </div>
            <div class="email-box">
                <p>Stay tuned with us:</p>
                <input type="text">
                <span class="btn"> Subscribe</span>
            </div>
        </div>
        <div class="white-line"></div>
        <div class="solve-ease-tag">
            <p class="font-ss">Designed & Developed with <i id="heart" class=' bx bxs-heart'></i> Love by <span><a
                        class="ad-link" href="">Solve-Ease</a></span> &copy;
                2023
            </p>
        </div>
    </footer>


    {% block script %}

    {% endblock script %}



</body>

</html>