
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <title>AyurVichar | {% block title %}{% endblock title %}</title>
    
    {% block head %}
    {% endblock head %}

</head>

<body>

    <header>
        <section id="navbar">

            <nav>
                <input type="checkbox" id="check">
            <label id="check-label" for="check" class="checkbtn">
                <i class='bx bx-menu'></i>
               
            </label>
                <div class="logo">
                    <h1><a href="/"><img class="logo-img" src="{% static 'img/law-hammer.svg' %}" 
                        alt="AyurVichar - (tag line)"><span> AyurVichar </span></a>
                <h1>
                </div>
                <ul class=" menu-list">
                    
                    <li> <a class="menu-items" href="/">Home</a> </li>

                    <li> <a class="menu-items" href="/about">About</a> </li>
                    <li> <a class="menu-items" href="/services">Services</a> </li>
                    <li> <a class="menu-items" href="/contact">Contact</a> </li>
                    <li> <a class="menu-items" href="/login">Login</a> </li>
                    <li> <a class="menu-items" href="/register">Register</a> </li>


                </ul>
            </nav>
        </section>
    </header>


    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        <div class="last-new">

            <p>Get access to exclusive update...</p>

            <div class="subscription-box">
                <input id="subscription" placeholder="youremail.com" required type="email">
                <a target="_blank" href="mailto:adarsh@onionreads.com">Subscribe</a>
            </div>





        </div>

        <div class="last-text ">

            <p class="font-ss">Designed & Developed with <i id="heart" class=' bx bxs-heart'></i> Love by <span><a
                        class="ad-link" href="https://hackcbs.tech/" >Solve-Ease</a></span> &copy; 2023
            </p>
        </div>
    </footer>

    {% block script %}
    
    {% endblock script %}



</body>

</html>